* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

body {
  background-color: #191919;
  color: #D4D4D4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 15px;
  width: 13vw;
  background-color: #202020;
  color: #9B9B9B;
  padding: 1.5vw;
  margin: 1vh;
}

.sidebar ul {
  margin-top: 1.5vh;
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar li:hover {
  background-color: #2C2C2C;
}

.content {
  flex: 1;
  padding: 20px;
  margin: 1vh;
  border-radius: 15px;
  background-color: #202020;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content {
  display: none;
}

.add-note-button {
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  background: #2c2c2c;
  color: #9B9B9B;
  border-radius: 10px;
  margin-bottom: 15px;
}

.search-note-button {
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  background: #2c2c2c;
  color: #9B9B9B;
  border-radius: 10px;
  margin-bottom: 15px;
}

