* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: kronaone-c;
  src: url(../fonts/KronaOne-Regular.ttf);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

body {
  background-color: #191919;
  color: #D4D4D4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 15px;
  width: 13vw;
  background-color: #202020;
  color: #9B9B9B;
  padding: 1.5vw;
  margin: 1vh;
}

.sidebar ul {
  margin-top: 1.5vh;
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.sidebar li:hover {
  background-color: #2C2C2C;
}

.content {
  flex: 1;
  padding: 20px;
  margin: 1vh;
  border-radius: 15px;
  background-color: #202020;
  position: relative;
}

.tab-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-content.active {
  display: block;
}

.add-note-button {
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  background: #2c2c2c;
  color: #9B9B9B;
  border-radius: 10px;
  margin-bottom: 15px;
}

.search-note-button {
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  background: #2c2c2c;
  color: #9B9B9B;
  border-radius: 10px;
  margin-bottom: 15px;
}

.delete-note-button {
  width: 1.5vw;
  padding: 5px;
  cursor: pointer;
  border: none;
  background: #2c2c2c;
  color: #9B9B9B;
  border-radius: 50%;
  position: absolute;
  right: -1vw;
  top: 50%;
  transform: translateY(-50%);
}

.delete-note-button:hover {
  background: #3c3c3c;
  color: #FFFFFF;
}

.tab-content.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content textarea {
  margin-top: 10vh;
  width: 50%;
  height: 100%;
  border: none;
  background: transparent;
  color: #D4D4D4;
  resize: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

.home-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  padding: 3vh;
  color: #450D01;

}

.logo>a {
  font-size: calc(var(--index) * 2);
  font-family: kronaone-c;
  margin-left: 3vw;
  color: #0428E4;
  text-decoration: none;
  border-radius: 15px;
}

.menu {
  display: flex;
}

.menu-item>a {
  margin-right: 4vw;
  font-size: calc(var(--index) * 1);
  font-family: kronaone-c;
  color: #9B9B9B;
  text-decoration: none;

}

.footerbase {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #2d2d2d;

}

.highlight {
  border: 2px solid yellow;
  color: inherit;
  background-color: inherit;
}

.swal2-popup {
  background-color: #202020 !important;
  color: #D4D4D4 !important;
}

.swal2-title {
  color: #D4D4D4 !important;
}

.swal2-styled.swal2-confirm {
  background-color: #4CAF50 !important;
  color: white !important;
}

.swal2-styled.swal2-cancel {
  background-color: #f44336 !important;
  color: white !important;
}