* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 115%;
  font-size: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #ccc;
}

:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: kronaone-c;
  src: url(../fonts/KronaOne-Regular.ttf);
}

@font-face {
  font-family: roboto-m;
  src: url(../fonts/Roboto-Bold.ttf);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: kronaone-c;
}

body {
  background-color: #FFEFDF;
  color: #450D01;
  font-family: kronaone-c;
}

.home-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  color: #450D01;
}

.logo>a {
  font-size: calc(var(--index) * 2);
  font-family: kronaone-c;
  margin-left: 3vw;
  color: #0428E4;
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu-item>a {
  margin-right: 4vw;
  font-size: calc(var(--index) * 1);
  font-family: kronaone-c;
  color: #450D01;
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10vh;
}

.main-image {
  height: calc(var(--index) * 11);
  width: calc(var(--index) * 11);
  margin-right: 3vw;
}

.welcome-text {
  text-align: justify;
  font-size: calc(var(--index) * 0.6);
  font-family: roboto-m;
  flex-grow: 1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  margin: 3vh 10%;
}

.card {
  width: 41vw;
  height: 21vh;
  background-color: #e1d3c4;
  padding: 2vh;
  border-radius: 10px;
}

.card h2 {
  font-size: calc(var(--index) * 1);
  font-family: roboto-m;
  text-align: center;
}

.card h4 {
  text-align: justify;
  font-size: calc(var(--index) * 0.6);
  font-family: roboto-m;
  margin-top: 1vh;
}